.experience.experience--1 { background-image: url(../images/earth-1.jpg); }
.experience.experience--2 { background-image: url(../images/earth-3.jpg); }
.experience.experience--3 { background-image: url(../images/water-7.jpg); }
.experience.experience--4 { background-image: url(../images/water-4.jpg); }
.experience.experience--5 { background-image: url(../images/earth-6.jpg); }

.experience.experience--11 { background-image: url(../images/earth-1.jpg); }
.experience.experience--12 { background-image: url(../images/earth-2.jpg); }
.experience.experience--13 { background-image: url(../images/earth-3.jpg); }
.experience.experience--14 { background-image: url(../images/earth-4.jpg); }
.experience.experience--15 { background-image: url(../images/earth-5.jpg); }

.experience.experience--21 { background-image: url(../images/water-1.jpg); }
.experience.experience--22 { background-image: url(../images/water-2.jpg); }
.experience.experience--23 { background-image: url(../images/water-3.jpg); }
.experience.experience--24 { background-image: url(../images/water-4.jpg); }
.experience.experience--25 { background-image: url(../images/water-5.jpg); }

.experience.experience--31 { background-image: url(../images/air-1.jpg); }
.experience.experience--32 { background-image: url(../images/air-2.jpg); }
.experience.experience--33 { background-image: url(../images/air-3.jpg); }
.experience.experience--34 { background-image: url(../images/air-4.jpg); }
.experience.experience--35 { background-image: url(../images/air-5.jpg); }