* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --fontSerif: 'Neuton', serif;
  --fontSansSerif: Roboto, sans-serif;
  --colorEarth: hsl(19, 75%, 57%);
  --colorWater: hsl(219, 75%, 57%);
  --colorAir: hsl(177, 75%, 57%);
}


body {
  padding: 2rem;
  background: #111111;
}


.container {
  background: black;
  min-height: 100vh;
  color: white;
  font-family: var(--fontSansSerif);
  border-radius: 1rem;
}

.header,
.footer {
  padding: 2.4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  color: white;
  font-size: 1.6rem;
  transition: 0.2s;
  cursor: none;
}

.header .logo:hover {
  letter-spacing: 2px;
}

.header .nav {
  display: flex;
}

.header .nav .nav__link {
  margin-left: 2rem;
  opacity: 0.8;
  font-size: 0.8rem;
  transition: color 0.3s;
  position: relative;
}

.header .nav .nav__link:before {
  content: '';
  position: absolute;
  top: calc(100% + 0.2rem);
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transition: opacity 0.5s, transform 0.3s;
  transform: translateY(0);
}

.header .nav .nav__link.nav__link--earth:before { background: var(--colorEarth); }
.header .nav .nav__link.nav__link--air:before { background: var(--colorAir); }
.header .nav .nav__link.nav__link--water:before { background: var(--colorWater); }

.header .nav .nav__link.nav__link--earth:hover { color: var(--colorEarth); }
.header .nav .nav__link.nav__link--air:hover { color: var(--colorAir); }
.header .nav .nav__link.nav__link--water:hover { color: var(--colorWater); }

.header .nav .nav__link:hover:before {
  transition: opacity 0.3s, transform 0.5s;
  transform: translateY(-1.2rem);
  opacity: 0;
}

.footer {
  font-size: 0.8rem;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  .header .nav .nav__link {
    margin-left: 1rem;
  }
}